@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.card {
    border-color: transparent;
}

*{
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

.start-80 {
    left: 70% !important;
    text-align: center;
    height: 30px;
    width: 240px;
    font-size: 16px !important;
    background: #61A2C8;
    border-radius: 20.9653px;
    transform: rotate(0.28deg);
    padding: 0.35em 0.65em;
}

.header{
    background-image: url('../images/front.png');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.intro{
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.intro .author{
    padding-left: 75px !important;
    margin: 0;
    text-align: left;
}

.heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 149.8%;
    color: #4F516B;
    padding-left: 100px;
    padding-top: 20px;
}

.date_time{
    font-family: 'Proza Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 149.8%;
    color: #9A9A9B;
    padding-left: 100px;
}

.date_time span{
    font-size: 20px;
}

.author{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;

    background: linear-gradient(180deg, #444BAB 0%, #3E8EBC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 !important;
}

.interview_preparation_home{
    position: relative;
    top: -190px;
    left: 900px;
    height: 30px;
    width: 225px;
    text-align: center;
    background: #61A2C8;
    border-radius: 20.9653px;
    transform: rotate(0.28deg);
}

.interview_preparation_home span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 149.8%;
    color: #FFFFFF;
}

.title{
    position: relative;
    top: 400px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    background-color: #ffffff;
    width: 80%;
}

.right { 
    width: 0; 
    height: 0; 
    border-bottom: 200px solid #ffffff; 
    border-right: 350px solid transparent; 
}

.right img{
    padding: 10px 0;
}

.btn-img {
    position: relative;
    top: 80px;
    left: 160px;
    width: 62px;
    height: 62px;
    background: linear-gradient(143.77deg, #3E8EBC 5.24%, #444BAB 84.52%);
    border: none;
    border-radius: 50% !important;
}

.shadow-bottom{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
}

.linkedin{
    background-image: url("../images/linkedin.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4391BE;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 0 10px;
}

.youtube{
    background-image: url("../images/youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #C72424;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 0 10px;
}

.facebook{
    background-image: url("../images/facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #093FA9;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 0 10px;
}

.instagram{
    background-image: url("../images/instagram.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9E2073;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 0 10px;
}

.telegram{
    background-image: url("../images/telegram.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3A7ADB;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 0 10px;
}
